@model GymManager.Web.Models.MemberListViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <h1 class="mt-5">Membership renewal</h1>

    <form asp-action="Renewal" class="row justify-content-end">
        <div class="col-3"><input type="text" class="form-control" asp-for="SearchString" placeholder="Search by first name" /></div>
        <div class="d-grid gap-2 col-2"><button type="submit" class="btn btn-primary">Search</button></div>
    </form>

    @await Html.PartialAsync("~/Views/Shared/_RenewalList.cshtml", Model.Members)

</div>
