@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <title>JavaScript DataTypes</title>

        <style>
            button{
                padding: 10px;
            }

            .redButton{
                background: #FD8473
            }

            .greenButton {
                background: #ACEAAC
            }

        </style>

    </head>
    <body>

        <button id="button1" class="btn greenButton" name="testButton1">Click me!</button>

        <button class="btn greenButton" name="testButton2">Click me!</button>

        <button name="testButton3" class="btn greenButton">Click me!</button>

        <button class="btn greenButton" name="testButton4">Click me!</button>

        <button name="testButton5" class="btn greenButton">Click me!</button>

        <button class="btn greenButton" name="testButton6">Click me!</button>

        <table id="sampleTable">
            <thead>
                <tr>
                    <td>
                        Button Name
                    </td>
                    <td>
                        Clicked On
                    </td>
                </tr>
            </thead>
        </table>

        <script src="~/DataTypes.js"></script>
    </body>

</html>